{% extends 'store/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<section class="page page--background hero" aria-label="Главная">
    <div class="hero__inner">
        <div class="hero__visual">
            <img
                class="hero__can"
                src="{% static 'store/img/start-green-apple.png' %}"
                alt="Энергетик СТАРТ, вкус зелёное яблоко"
            >
        </div>

        <a class="cta-button" href="{% url 'store:catalog' %}">
            <span>ЗАБРАТЬ</span>
        </a>
    </div>
</section>
{% endblock %}